<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/cars">Cars !</a>
    <a href="/logout">Sign out</a>
    {% for car in cars %}
    {% if car.id == id %}
    <div class="container">
        <h1>${{car.price}}</h1>
        <p>Model: {{car.model}}</p>
        <p>Make: {{car.make}}</p>
        <p>Year: {{car.year}}</p>
        <p>Description: {{car.description}}</p>
        <p>Seller: {{car.seller.first_name}} {{car.seller.last_name}}</p>
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>