<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <form action="/edit/submit/{{cars.id}}" method="post">
        
        <label for='price'>Price:</label>
        <input type='number' name='price' placeholder="{{cars.price}}">
        <label for='model'>Model:</label>
        <input type='text' name='model' placeholder="{{cars.model}}">
        <label for="make">Make:</label>
        <input type="text" name="make" placeholder="{{cars.make}}">
        <label for="description">Description:</label>
        <input type="text" name="description" placeholder="{{cars.description}}">
        <label for="year">Year:</label>
        <input type="number" name="year" placeholder="{{cars.year}}">
        <input type='submit' value='Update'>
        <input type="hidden" name ='id' value="{{cars.id}}">
    </form>
    
    <a href="/cars">Home</a>
</body>
</html>